POSTGRES_HOST=localhost
POSTGRES_PASSWORD=Qvv3r7yCambiar
POSTGRES_DB=nombreBaseDeDatosCambiar
POSTGRES_USER=usuarioCambiar
POSTGRES_PORT=5432

JWT_SECRET=947fde0a39b760624ddfdd63fc72d779a3fdc70f5b728886d36f9f8e196b7d61
SQID_ALPHABET=LUGMjRfOg86IAXbTcaVFek2D05JsEpNSqt4ld79hrvKZnQuxoPCyiw1HBz3mWY

BASE_URL=http://localhost:8080