POSTGRES_HOST=localhost
POSTGRES_PASSWORD=Qvv3r7yCambiar
POSTGRES_DB=nombreBaseDeDatosCambiar
POSTGRES_USER=usuarioCambiar
POSTGRES_PORT=5432

POSTGRES_SSL_MODE=verify-full
POSTGRES_SSL_ROOT_CERT=/certs/ca.crt

JWT_SECRET=947fde0a39b760624ddfdd63fc72d779a3fdc70f5b728886d36f9f8e196b7d61
SQID_ALPHABET=LUGMjRfOg86IAXbTcaVFek2D05JsEpNSqt4ld79hrvKZnQuxoPCyiw1HBz3mWY

BASE_URL=http://streaming.crescendo.localhost
ENABLE_TLS=false

MONGODB_HOST=127.0.0.1
MONGODB_USER=admin
MONGODB_PASSWORD=admin123
MONGODB_PORT=27017
STREAMING_SERVICE_PORT=8081

CACHE_HOST=dragonfly
CACHE_PASSWORD=admin
CACHE_PORT=6379
